.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    font-family: "M PLUS Rounded 1c", Helvetica;
    font-size: 36px;
    font-weight: 600;
    color: #2a2d34;

}

.event-body {
    display: flex;
    flex-direction: row;
    align-items: top;
}

h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 20px;
    font-family: "M PLUS Rounded 1c", Helvetica;
    font-weight: 600;
    color: #2a2d34;
}

h3 {
    font-family: "M PLUS Rounded 1c", Helvetica;
    font-weight: 500;
    color: #2a2d34;
    margin-left: 10px;
}

.event-details {
    display: inline-block;
    background-color: #fffdfd;
    margin-top: 20px;
    margin-left: 30px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 12px;
    height: auto;
    width: 640px;
    padding: 10px;
}

.event-image {
    width: 600px;
    height: 400px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.event-description, .event-venue, .event-name{
    margin: 10px;
    font-family: "M PLUS Rounded 1c", Helvetica;
}

.event-name{
    font-weight: 500;
    color: #0391cb;
    font-size: 42px;
    margin-bottom: 2px;
    font-family: "M PLUS Rounded 1c", Helvetica;
}

.event-venue{
    font-weight: 500;
    color: #2a2d34;
    font-size: 24px;
    margin-top: 0px;
    font-family: "M PLUS Rounded 1c", Helvetica;
}

.event-description{
    font-weight: 400;
    font-size: 17px;
    margin-top: 25px;
    color: #2a2d34;
    font-family: "M PLUS Rounded 1c", Helvetica;
}

.location-icon{
    display: inline-block;
    width: auto;
    height: 28px;
    margin-right: 5px;
    vertical-align: middle;
}

.venue-name {
    display: inline-block;
    vertical-align: middle;
}

.book-event {
    display: flex;
    flex-direction: column;
    align-items: left;
    border: #0391cb 1px solid;
    background-color: #fffdfd;
    margin-top: 20px;
    margin-left: 60px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 12px;
    height: auto;
    width: 1060px;
    padding: 10px;
    
}

.no-times {
    width: 100%;
    font-size: 18px;
    color: #2a2d34;
    font-family: "M PLUS Rounded 1c", Helvetica;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;

}

.date-input{
    background-color: #0391cb;
    border-radius: 54px;
    color: #ffffff;
    border: 0px;
    outline: 0px;
}

.time-selector {
    display: flex;
    overflow-x: scroll;
    width: 600px;
    margin-left: auto;
    background-color: #ececec;
    border-radius: 12px;
    padding: 10px;
}


.date-custom-input{
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    color: #ffffff;
    background-color: #0391cb;
    border: 0;
    color: ffffff;
    border-radius: 54px;
    height: 50px;
    width: 300px;
    margin-left: 10px;
    padding: 6px;
    font-family: "M PLUS Rounded 1c", Helvetica;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
}


.time-selector .deselected, .time-selector .selected{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 54px;
    height: 50px;
    min-width: 105px;
    padding: 6px;
    font-family: "M PLUS Rounded 1c", Helvetica;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
}

.time-selector .deselected{
    background-color: #ffffff;
    border: 2px solid #0391cb;
    color: #0391cb;
}

.time-selector .deselected:hover{
    background-color: #a9e7ff;
    border: 2px solid #0391cb;
    color: 03191cb;
}

.time-selector .selected{
    background-color: #0391cb;
    border: 0;
    color: #ffffff;
}

.total-price {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: auto;
    margin-left: auto;
    margin-right: 20px;
}

.price-label {
    font-family: "M PLUS Rounded 1c", Helvetica;
    font-size: 24px;
    font-weight: 500;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.checkout-button {         
    cursor: pointer;
    background-color: #0391cb;
    border-radius: 54px;
    color: #ffffff;
    font-family: "M PLUS Rounded 1c", Helvetica;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    width: 110px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    outline: 0;
    border: 0;
}



.checkout-button:disabled {
    cursor: default;
    background-color: #ececec;
    color: #ffffff;
}




.date-and-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.ticket-information {
    display: inline-flex;
    margin: 10px;
}

.ticket-selector {
    margin-left: 10px;
    display: inline-flex;
}

.ticket-selector option{
    font-family: "M PLUS Rounded 1c", Helvetica;
    font-size: 20px;
    font-weight: 500;


}

.ticket-selector select, .quantity-input{
    font-size: 20px;
    font-family: "M PLUS Rounded 1c", Helvetica;
    font-weight: 600;
    border: #0391cb 2px solid;
    background-color: #ececec;
    border-radius: 54px;
    height: 50px;
    color: #0391cb;
    margin-left: 10px;
    width: 220px;
    text-align: center;
}



.ticket-selector select:focus{
    outline: none;
}

.ticket-quantity {
    display: inline-flex;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    margin-left: 20px;
    margin-top: 20px;
    max-width: 710px;
    justify-content: space-between;
}

.ticket-type-label, .quantity-label{
    font-family: "M PLUS Rounded 1c", Helvetica;
    color: #0391cb;
    font-size: 28px;
    font-weight: 500;
    margin-top: auto;
    margin-bottom: auto;
}

.ticket-type-label{
    margin-right: 10px;
}

.quantity-label{
    margin-left: 35px;
    margin-right: 10px;
}

.quantity-input{
    width: 140px;
}

.quantity-input:focus{
    font-size: 20px;
    font-family: "M PLUS Rounded 1c", Helvetica;
    font-weight: 600;
    border: #0391cb 2px solid;
    background-color: #ececec;
    border-radius: 54px;
    height: 50px;
    color: #0391cb;
    margin-left: 10px;
    width: 140px;
    text-align: center;
}

.event-page .user-name, .event-page .user-email, .event-page .user-phone {
    font-family: "M PLUS Rounded 1c", Helvetica;
    font-size: 20px;
    font-weight: 500;
    border: #0391cb 2px solid;
    background-color: #ececec;
    border-radius: 18px;
    height: 50px;
    color: #0391cb;
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
    margin-bottom: 10px;
}

.event-page .user-name:focus, .event-page .user-email:focus, .event-page .user-phone:focus{
    font-family: "M PLUS Rounded 1c", Helvetica;
    font-size: 20px;
    font-weight: 500;
    border: #0391cb 2px solid;
    background-color: #ececec;
    border-radius: 18px;
    height: 50px;
    color: #0391cb;
    text-align: left;
}

.event-page .user-name{
    min-width: 710px;
}

.event-page .user-email{
    min-width: 385px;
}

.event-page .user-phone{
    min-width: 285px;
}

