.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    width: 100%;
}

img {
    height: 60px;
}

.search-box-static {
    margin-top: 20px;
    margin-left: 30px;
}

.logo {
    margin-left: 30px;
    margin-top: 20px;
}

.login-button{
    background-color: #0391cb;
    border-radius: 54px;
    color: #ffffff;
    font-family: "M PLUS Rounded 1c", Helvetica;
    font-size: 23px;
    font-weight: 600;
    height: 60px;
    width: 100px;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 10px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    outline: 0;
    border: 0;
  }