html {
	overflow: scroll;
  width: auto;
}

.search-page {
  background-color: #ffffff;
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  width: auto;
}

.search-page .search-result-container {
  display: flex;
  justify-content: left; /* Adjust as needed: flex-start, flex-end, space-between, etc. */
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 25px;
}

