.search-simple {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.search-simple .div {
  background-color: #ffffff;
  /* height: 1080px; */
  position: relative;
  width: 1920px;
}

.search-simple .group {
  height: 59px;
  left: 25px;
  position: absolute;
  top: 22px;
  width: 300px;
}

.search-simple .ticketopia {
  height: 59px;
  left: 8px;
  position: absolute;
  top: 5px;
  width: (223+77)px;
  scale: 1.15;
}

.search-simple .text-wrapper {
  color: #0391cb;
  font-family: "M PLUS Rounded 1c", Helvetica;
  font-size: 104px;
  font-weight: 700;
  height: 111px;
  left: 650px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 339px;
  white-space: nowrap;
  width: 619px;
}

.search-simple .overlap-group-wrapper {
  height: 97px;
  left: 317px;
  position: absolute;
  top: 540px;
  width: 1287px;
}

.search-simple .overlap-group {
  background-color: #e8e8e8;
  border-radius: 54px;
  height: 97px;
  position: relative;
  width: 1285px;
  transition: transform 0.3s ease; 
}

.search-simple .search-box {
  height: inherit;
  position: relative;
  width: 1080px;
}

.search-simple .overlap-group:focus-within {
  border: 2px solid #0391cb;
  transform: translate(-210px, -530px);
}

.search-simple:focus-within .text-wrapper{
  visibility: hidden;
}

.search-simple .search {
  height: 69px;
  left: 21px;
  position: absolute;
  top: 14px;
  width: 69px;
}


