.search-wrapper .search-input {
    padding-left: 90px;

}

.search-wrapper .input-box {
    background-color: transparent;
    /* height: 1080px; */
    border: 0;
    color: #2a2d34;
    font-family: "M PLUS Rounded 1c", Helvetica;
    font-size: 29px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    height: 100%;
    width: 100%;
}

.search-wrapper{ 
    position: relative;
    width: 100%;
    height: 100%;
}


input:focus {
    outline: none;
    font-size: 25px;
    font-weight: medium;
}

.search-wrapper .search-button {
    height: 100%;
	background: none;
    outline: none;
    border: none;
}

.search-button:disabled{
    cursor: default;
    outline: none;
    offset: none;
    background: none;
    border: none;
}

.search-button:focus {
	outline: none;
}

.search-button:hover .search-button:active {
	cursor: pointer;
}

.search-simple:focus-within .search-button {
    cursor: pointer;
    transform: translateX(1220px);
}

.search-simple:focus-within .search-input{
    padding-left: 25px;
}

.search-image {
	height: 90%;
	width: 90%;
}

